ATOMIX AI
  ├── index.html
  ├── events.html
  ├── contact.html
  ├── download.html
  ├── style.css
  ├── script.js
  ├── videos
  │   └── vid.mp4
  ├── uploads
  │   └── file.pdf
  └── images
      └── comming.jpg
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #333;
        color: white;
    }
    
    .logo {
        height: 50px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
    }
    
    nav ul li {
        margin: 0 15px;
    }
    
    nav a {
        color: white;
        text-decoration: none;
    }
    
    main {
        padding: 20px;
    }
    
    .event-images {
        display: flex;
        flex-wrap: wrap;
    }
    
    .event-images img {
        width: 200px;
        margin: 10px;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #333;
        color: white;
        position: relative;
        bottom: 0;
        width: 97.6%;
    }
    
    .social-media a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
    }
    